name: Development Snapshot

on:
  workflow_dispatch:
    inputs:
      swift_tag:
        description: Swift Tag
        required: true
        type: string
        default: swift-DEVELOPMENT-SNAPSHOT-2025-02-06-a

env:
  NDK_VERSION: 27c
  NDK_SHA1: 090e8083a715fdb1a3e402d0763c388abb03fb4e

jobs:
  build-sdk:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Cache Android NDK
        id: cache-android-ndk
        uses: actions/cache@v4
        with:
          key: android-ndk-r${NDK_VERSION}
          path: ~/android-ndk-r${NDK_VERSION}

      - name: Install Android NDK
        id: install-android-ndk
        run: |
          ./scripts/install-android-ndk.sh

      - name: Install Swift Toolchain
        if: false
        id: install-swift-toolchain
        run: |
          env SWIFT_TAG="${{inputs.swift_tag}}" ./swift-android-sdk/scripts/install-swift-toolchain.sh
